<head>
    {{> head}}
    <link rel="stylesheet" href="/css/assemblea.css" />
</head>
<body>
    <div class="container">
        <div class="py-4 text-center">
            <h2>
                Dashboard
                <a href="/gestore/dashboard/logout" class="float-right text-muted">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </h2>
        </div>

        {{#if ferror}}
        <div class="alert alert-danger" role="alert">
            Conessione al database fallita: <pre>{{ferror}}</pre>
        </div>
        {{else}}

        {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {{/if}}

        {{#if success}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{success}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Gestione assemblea</h5>
                        <p class="card-text">In questa dashboard puoi creare, eliminare e modificare assemblee future o in corso.</p>
                        {{#if assemblea}}
                        <div class="btn-group">
                            <a href="/gestore/assemblea/salva" class="btn btn-success"><i class="fas fa-bookmark"></i> Salva assemblea</a>
                        </div>
                        <div class="btn-group">
                            <button type="button" data-toggle="modal" data-target="#confirmDeleteAssemblea" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Elimina assemblea</button>
                        </div>
                        {{else}}
                        <div class="btn-group">
                            <a href="/gestore/assemblea/crea" class="btn btn-success">Crea nuova assemblea</a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{#if assemblea}}
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title text-center">Informazioni</h5>
                            <div class="card-text">
                                <dl class="row">
                                    <dt class="col-sm-6 h6 mb-0 pr-lg-0">Data assemblea:</dt>
                                    <dd class="col-sm-6 mb-0 pl-lg-0">{{assemblea.date}}</dd>
                                    <dt class="col-sm-6 h6 mb-0 pr-lg-0">Apertura iscrizioni:</dt>
                                    <dd class="col-sm-6 mb-0 pl-lg-0">{{assemblea.startSub}}</dd>
                                    <dt class="col-sm-6 h6 mb-0 pr-lg-0">Chiusura iscrizioni:</dt>
                                    <dd class="col-sm-6 mb-0 pl-lg-0">{{assemblea.endSub}}</dd>
                                </dl>
                            </div>
                            <div class="text-center">
                                <a href="/gestore/informazioni" class="btn btn-block btn-sm btn-primary"> <i class="fas fa-edit"></i> Modifica</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title text-center">Laboratori</h5>
                            <p class="card-text text-justify">Da questa sezione puoi vedere, modificare ed eliminare i laboratori e le calssi che si possono iscrivere ad essi.</p>
                            <div class="text-center">
                                <a href="/gestore/laboratori" class="btn btn-block btn-sm btn-primary"><i class="fas fa-edit"></i> Modifica</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title text-center">Studenti</h5>
                            <p class="card-text text-justify">In questa sezione puoi vedere gli studenti iscritti e non all'assemblea.</p>
                            <div class="text-center">
                                <a href="/gestore/studenti" class="btn btn-block btn-sm btn-primary"><i class="fas fa-list-ul"></i> Vedi</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{#if assemblea.subsClosed}}
            <div class="row">
                <div class="col-md">
                    <div class="card text-center shadow-sm">
                        <div class="card-body">
                            <h6 class="card-title text-success">Iscrizioni concluse</h6>
                            <p class="card-text">Ora puoi generare e stampare il file PDF con l'elenco degli sudenti per ogni ora, di ogni laboratorio</p>
                            <form class="btn-group" action="/gestore/assemblea/pdf" method="POST">
                                <button type="submit" class="btn btn-success"><i class="fas fa-file-pdf"></i> Genera PDF</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        {{else}}
            <!-- NO ASSEMBLEE -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-center shadow-sm">
                        <div class="card-body">
                            <p class="card-text text-muted">Nessuna assemblea caricata nel sistema.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/NO ASSEMBLEE -->
        {{/if}}
        </div>
    {{/if}}

        <!-- Modal -->
        <div class="modal fade" id="confirmDeleteAssemblea" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Elimina assemblea</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Vuoi davvero eliminare definitivamente questa assemblea?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href="/gestore/assemblea/elimina" class="btn btn-outline-danger">Si</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annulla</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/Modal-->
    </div>
    <footer class="footer text-muted text-center text-small">
        <p class="m-0">Copyright &copy; 2019 TronWeb | Davide Testolin | Made with Node.js</p>
    </footer>
    {{> scripts}}
</body>
