<head>
    {{> head}}
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="py-4 text-center">
            <h2>Crea nuova assemblea</h2>
        </div>
        <div class="row">
            {{#if error}}
            <div class="alert alert-danger" role="alert">
                Si è verificato un errore: <pre>{{error}}</pre>
            </div>
            {{/if}}
            <div class="col-md-9 px-0">
                {{> infoTemplate info}}
                {{> labsTemplate labs}}
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm d-none d-sm-block">
                    <div class="card-body">
                        <h5 class="card-title text-center">Template</h5>
                        <form class="card-text" action="/gestore/dashboard/assemblea/crea/carica" method="POST">
                            <div class="pb-3 border-bottom">
                                <div class="form-group custom-control custom-checkbox mb-0">
                                    <input type="checkbox" class="custom-control-input" name="saveAsTemplate" id="saveAsTemplate">
                                    <label class="custom-control-label" for="saveAsTemplate">Salva questa assemblea come template</label>
                                </div>
                                <div class="input-group mt-1 mb-0" id="saveAsTemplateNameGroup" style="display:none">
                                    <input type="text" class="form-control" placeholder="Nome file" aria-label="Nome file" aria-describedby="saveAsTemplateNameExt" name="saveAsTemplateName" id="saveAsTemplateName">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="saveAsTemplateNameExt">.json</span>
                                    </div>
                                </div>
                            </div>

                            <div class="text-muted py-3">
                                {{#if templateFiles.selected}}
                                <span>Hai caricato il file: </span>
                                {{else}}
                                <span>Carica un'assemblea passata salvata sul server</span>
                                {{/if}}
                            </div>
                            <div class="input-group mb-3">
                                    {{#if templateFiles.selected}}
                                    <input type="text" class="form-control" value="{{templateFiles.selected}}" disabled />
                                    {{else}}
                                    <select class="form-control" id="templateFile" name="templateFile">
                                        <option disabled selected value> -- seleziona -- </option>
                                        {{#each templateFiles.list}}
                                        <option value="{{this}}">{{this}}</option>
                                        {{/each}}
                                    </select>
                                    {{/if}}
                            </div>
                            <div class="bnt-group">
                                {{#if templateFiles.selected}}
                                    <a href="/gestore/dashboard/assemblea/crea" class="btn btn-block btn-danger">Annulla</a>
                                {{else}}
                                    <button type="submit" class="btn btn-block btn-primary">Carica</button>
                                {{/if}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-success" id="btnSubmitCreation">Crea</a>
                </div>
                <div class="btn-group">
                    <a href="/gestore/dashboard" class="btn btn-danger">Annulla</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-muted text-center text-small">
        <p class="m-0">Copyright &copy; 2019 TronWeb | Davide Testolin | Made with Node.js</p>
    </footer>
    {{> scripts}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/it.js" type="text/javascript"></script>
    <script type="text/javascript">

        moment.locale('it');

        $('#saveAsTemplate').change(function() {
            if($(this).is(":checked")) {
                $('#saveAsTemplateNameGroup').show();
                $('#saveAsTemplateName').val('assemblea_' + moment().format('DD-MM-YYYY'));
            } else {
                $('#saveAsTemplateNameGroup').hide();
                $('#saveAsTemplateName').val('');
            }
        });

        $('#btnSubmitCreation').click(function(event) {
            event.preventDefault();
            $('#infoForum').attr('action', '/gestore/dashboard/assemblea/crea').submit();
        });

        $('#infoForum').submit(function(event) {
            if ($('#saveAsTemplate').is(':checked')) {
                $('#infoForum').append('<input type="text" class="d-none" name="saveAsTemplateName" value="' + $('#saveAsTemplateName').val() + '">')
            }
            return true;
        });
    </script>
</body>
