<head>
    {{> head}}
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md">
                {{#if error}}
                <div class="alert alert-danger" role="alert">
                    Si è verificato un errore: <pre>
                        {{error}}
                    </pre>
                </div>
                {{/if}}
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Statistiche</h5>
                        {{#unless error}}
                        <div class="card-text">
                            <div class="row mb-3">
                                <div class="col-md">
                                    <div class="row">
                                        <p class="col-md-12 mb-1">
                                            Studenti totali iscritti all'assemblea:
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{subs.now}}" aria-valuemin="0" aria-valuemax="{{subs.total}}" style="width: {{subs.perc}}%">{{subs.perc}}%</div>
                                            </div>
                                        </div>
                                        <span class="col-md-2 text-muted">{{subs.now}}/{{subs.total}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md">
                                    <div class="row">
                                        <div class="col-md">
                                            <h6 class="card-title text-center">Laboratori</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md">
                                            <table class="table table-responsive-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="width:5%">ID</th>
                                                        <th scope="col">Nome</th>
                                                        <th scope="col" style="width:65%">Percentuale iscritti</th>
                                                        <th scope="col" style="width:10%">Iscritti</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each labsStats}}
                                                    <tr>
                                                        <th scope="row">{{this.labID}}</th>
                                                        <td>{{this.labName}}</td>
                                                        <td>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="{{this.labSubs.now}}" aria-valuemin="0" aria-valuemax="{{this.labSubs.total}}" style="width: {{this.labSubs.perc}}%">{{this.labSubs.perc}}%</div>
                                                            </div>
                                                        </td>
                                                        <td>{{this.labSubs.now}}/{{this.labSubs.total}}</td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/unless}}
                    </div>
                </div>

                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Studenti</h5>
                        {{#unless error}}
                        <div class="card-text">
                            <div class="row mb-3">
                                <div class="col-md">
                                    <div class="row">
                                        <div class="col-md">
                                            <table class="table table-hover table-responsive-sm" id="studentList">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Matricola</th>
                                                        <th scope="col">Nome</th>
                                                        <th scope="col">Cognome</th>
                                                        <th scope="col">Classe</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each students}}
                                                        <tr>
                                                            <th scope="row">{{this.Matricola}}</th>
                                                            <td>{{this.Nome}}</td>
                                                            <td>{{this.Cognome}}</td>
                                                            <td>{{this.Classe}}</td>
                                                        </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="btn-group">
                    <a href="/gestore/dashboard" class="btn btn-outline-primary">Dashboard</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-muted text-center text-small">
        <p class="m-0">Copyright &copy; 2019 TronWeb | Davide Testolin | Made with Node.js</p>
    </footer>
    {{> scripts}}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#studentList').DataTable({
                "paging": "simple",
                "language": {
                    "emptyTable": "Tabella vuota",
                    "info": "Risultati da _START_ a _END_ di _TOTAL_",
                    "infoEmpty": "Pagina 0 di 0",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "lengthMenu": "Show _MENU_ entries",
                    "loadingRecords": "Caricamento...",
                    "processing": "Processando...",
                    "search": "Cerca:",
                    "zeroRecords": "Nessun risultato trovato",
                    "paginate": {
                        "first": "Prima",
                        "last": "Ultima",
                        "next": "Prossima",
                        "previous": "Precedente"
                    },
                    "buttons": {
                        "pageLength": {
                            _: "Mostra %d elementi",
                            '-1': "Mostra tutti"
                        }
                    }
                }
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
</body>
