<head>
    {{> head}}
    <link rel="stylesheet" href="/css/assemblea.css" />
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md">
                {{#if error}}
                <div class="alert alert-danger" role="alert">
                    Si è verificato un errore: <pre>
                        {{error}}
                    </pre>
                </div>
                {{/if}}
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Iscritti</h5>
                        {{#unless error}}
                        <div class="card-text">
                            <div class="row mb-3">
                                <div class="col-md">
                                    <div class="row">
                                        <div class="col-md">
                                            <table class="table table-hover table-responsive-sm datatable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Matricola</th>
                                                        <th scope="col">Ora 1</th>
                                                        <th scope="col">Ora 2</th>
                                                        <th scope="col">Ora 3</th>
                                                        <th scope="col">Ora 4</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each subs}}
                                                        <tr>
                                                            <th scope="row">{{this.MatricolaStudente}}</th>
                                                            <td>{{this.Ora1}}</td>
                                                            <td>{{this.Ora2}}</td>
                                                            <td>{{this.Ora3}}</td>
                                                            <td>{{this.Ora4}}</td>
                                                        </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/unless}}
                    </div>
                </div>

                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Studenti</h5>
                        {{#unless error}}
                        <div class="card-text">
                            <div class="row mb-3">
                                <div class="col-md">
                                    <div class="row">
                                        <div class="col-md">
                                            <table class="table table-hover table-responsive-sm datatable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Matricola</th>
                                                        <th scope="col">Nome</th>
                                                        <th scope="col">Cognome</th>
                                                        <th scope="col">Classe</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each students}}
                                                        <tr>
                                                            <th scope="row">{{this.Matricola}}</th>
                                                            <td>{{this.Nome}}</td>
                                                            <td>{{this.Cognome}}</td>
                                                            <td>{{this.Classe}}</td>
                                                        </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="btn-group">
                    <a href="/gestore/dashboard" class="btn btn-outline-primary">Dashboard</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-muted text-center text-small">
        <p class="m-0">Copyright &copy; 2019 TronWeb | Davide Testolin | Made with Node.js</p>
    </footer>
    {{> scripts}}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.datatable').DataTable({
                "paging": "simple",
                "language": {
                    "emptyTable": "Tabella vuota",
                    "info": "Risultati da _START_ a _END_ di _TOTAL_",
                    "infoEmpty": "Pagina 0 di 0",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "lengthMenu": "Show _MENU_ entries",
                    "loadingRecords": "Caricamento...",
                    "processing": "Processando...",
                    "search": "Cerca:",
                    "zeroRecords": "Nessun risultato trovato",
                    "paginate": {
                        "first": "Prima",
                        "last": "Ultima",
                        "next": "Prossima",
                        "previous": "Precedente"
                    },
                    "buttons": {
                        "pageLength": {
                            _: "Mostra %d elementi",
                            '-1': "Mostra tutti"
                        }
                    }
                }
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
</body>
