<div class="col-md-12">
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title text-center">Informazioni</h5>
            <div class="card-text">
                <form class="row pt-4" action="/dashboard/assemblea/crea" method="post" id="infoForum">
                    <div class="col-md-4 px-4 border-right">
                        <h6 class="text-center">Assemblea</h6>
                        <div class="form-group">
                            <label for="assDate">Data</label>
                            {{#if edit}}
                                <input type="date" class="form-control" id="assDate" name="assDate" value="{{date}}" />
                            {{else}}
                                <input type="date" class="form-control" id="assDate" name="assDate" value="{{date}}" disabled />
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-md-4 px-4 border-right">
                        <h6 class="text-center">Apertura iscrizioni</h6>
                        <div class="form-group">
                            <label for="assSubStartDate">Data</label>
                            {{#if edit}}
                                <input type="date" class="form-control" id="assSubStartDate" name="assSubStartDate" value="{{startSub.date}}" required />
                            {{else}}
                                <input type="date" class="form-control" id="assSubStartDate" name="assSubStartDate" value="{{startSub.date}}" disabled />
                            {{/if}}
                        </div>
                        <div class="form-group">
                            <label for="assSubStartTime">Ora</label>
                            {{#if edit}}
                                <input type="time" class="form-control" id="assSubStartTime" name="assSubStartTime" value="{{startSub.time}}" required />
                            {{else}}
                                <input type="time" class="form-control" id="assSubStartTime" name="assSubStartTime" value="{{startSub.time}}" disabled />
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-md-4 px-4">
                        <h6 class="text-center">Chiusura iscrizioni</h6>
                        <div class="form-group">
                            <label for="assSubEndDate">Data</label>
                            {{#if edit}}
                                <input type="date" class="form-control" id="assSubEndDate" name="assSubEndDate" value="{{endSub.date}}" required />
                            {{else}}
                                <input type="date" class="form-control" id="assSubEndDate" name="assSubEndDate" value="{{endSub.date}}" disabled />
                            {{/if}}
                        </div>
                        <div class="form-group">
                            <label for="assSubEndTime">Ora</label>
                            {{#if edit}}
                                <input type="time" class="form-control" id="assSubEndTime" name="assSubEndTime" value="{{endSub.time}}" required />
                            {{else}}
                                <input type="time" class="form-control" id="assSubEndTime" name="assSubEndTime" value="{{endSub.time}}" disabled />
                            {{/if}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
