<head>
    {{> head}}
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            {{#if error}}
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            </div>
            {{/if}}
        </div>
        <div class="row mt-1">
            <div class="col-sm">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm">
                                <span class="badge badge-primary">
                                    <h5 class="mb-0">{{student.name}} {{student.surname}} - {{student.classe}}</h5>
                                </span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm">
                                <h3 class="card-title display-4">Laboratori</h3>
                            </div>
                        </div>
                        <div class="row mb-2 px-2">
                                {{#each labList}}
                                    <div class="col-sm-6 mb-3 border-bottom">
                                        <span class="font-weight-bold lab-row-student">{{this.labName}}</span>
                                        <p class="text-left mb-2 lab-row-student">{{this.labDesc}}</p>
                                    </div>
                                {{/each}}
                                {{!-- <div class="table-responsive">
                                    <table class="table table-bordered" id="labsList">
                                        <thead>
                                            <tr>
                                                <th scope="col">Laboratorio</th>
                                                <th scope="col">Descrizione</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-left">
                                            {{#each labList}}
                                                <tr class="lab-row-student">
                                                    <td class="p-2 font-weight-bold">{{this.labName}}</td>
                                                    <td class="p-2">{{this.labDesc}}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div> --}}
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm text-uppercase">
                                <p style="font-size: 0.7em !important; color:#c9c9c9;">- Informazioni gentilmente offerte dai Rappresentanti d'Istituto -</p>
                                <u style="font-size:0.9em">Per i progetti da <b>due ore</b> seleziona la prima e la seconda ora o la terza e la quarta ora.</u>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <form action="/iscriviti" id="lab-from" method="POST" class="row needs-validation" novalidate>
                                    <div class="col-sm-6 my-md-1">
                                        <div class="form-group mb-2">
                                            <select class="custom-select select-lab" name="ora1" required>
                                                <option value="default" selected disabled>Prima ora</option>
                                                {{#each labs.ora1}}
                                                    <option value="{{this.labID}}" data-twoH="{{this.lastsTwoH}}">{{this.labName}} - {{this.labPostiOra1}} posti rimanenti</option>
                                                {{/each}}
                                            </select>
                                            <div class="invalid-feedback text-left" id="if-ora1"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 my-md-1">
                                        <div class="form-group mb-2">
                                            <select class="custom-select select-lab" name="ora2" required>
                                                <option value="default" selected disabled>Seconda ora</option>
                                                {{#each labs.ora2}}
                                                    <option value="{{this.labID}}" data-twoH="{{this.lastsTwoH}}">{{this.labName}} - {{this.labPostiOra2}} posti rimanenti</option>
                                                {{/each}}
                                            </select>
                                            <div class="invalid-feedback text-left" id="if-ora2"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 my-md-1">
                                        <div class="form-group mb-2">
                                            <select class="custom-select select-lab" name="ora3" required>
                                                <option value="default" selected disabled>Terza ora</option>
                                                {{#each labs.ora3}}
                                                    <option value="{{this.labID}}" data-twoH="{{this.lastsTwoH}}">{{this.labName}} - {{this.labPostiOra3}} posti rimanenti</option>
                                                {{/each}}
                                            </select>
                                            <div class="invalid-feedback text-left" id="if-ora3"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 my-md-1">
                                        <div class="form-group mb-2">
                                            <select class="custom-select select-lab" name="ora4" required>
                                                <option value="default" selected disabled>Quarta ora</option>
                                                {{#each labs.ora4}}
                                                    <option value="{{this.labID}}" data-twoH="{{this.lastsTwoH}}">{{this.labName}} - {{this.labPostiOra4}} posti rimanenti</option>
                                                {{/each}}
                                            </select>
                                            <div class="invalid-feedback text-left" id="if-ora4"></div>
                                        </div>
                                    </div>
                                    <div class="col text-center">
                                        <div class="form-group mt-3 mb-0">
                                            <button type="submit" class="btn btn-primary">Iscriviti</button>
                                        </div>                            
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-muted text-center text-small">
        <p class="mb-1">Copyright &copy; 2019 TronWeb | Davide Testolin | Made with Node.js</p>
    </footer>
    {{> scripts}}
    <script src="/js/studentSub.js"></script>
</body>
